.simpleData {
}

.userData {
  position: relative;
  align-items: center;
  width: 100%;
  border: solid;
  border-color: black;
  padding: 0;
}

.username {
  width: 40%;
  border: solid;
  border-color: black;
  margin: 0;
  display: inline;
}

.funds {
  width: 40%;
  float: right;
  margin: 0;
}
