.MainWindowBox {
  height: 1000px+10%;
  width: 60%;
  min-width: 300px;
  position: absolute;
  left: 15%;
  top: 20%;
  display: block;
}

.hiddenBox {
  display: block;
}
.Products{
  height: 800px;
  border: solid;
  overflow-y: scroll;
}
